*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
}

:root {
    --primary-color: rgb(255, 102, 0);
    --shadow1: 0 0 10px rgb(0, 0, 0, 0.2);
}


body{
   height: 100vh; 
   background-color: #000000;
   background-image: url(https://www.topgear.com/sites/default/files/news-listicle/image/120417_mclaren_720s_with_12c.jpg);
   background-size: cover;
   background-position: center;
}

/* INPUT GLOBAL STYLE */
input {
    border: none;
    outline: none;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

input::placeholder{
    opacity: 0.7;
}

li{
    list-style: none;
}

a{
   text-decoration: none; 
   color: #ffffff;
   font-size: 1rem;
}

a:hover{
    color: rgb(255, 102, 0);
}

/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
color: white;
font-size: 1.5rem;
cursor: pointer;
display: none;
}

.action_btn{
    background-color: rgb(255, 102, 0);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: white;
}

.action_btn:active{
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    z-index: 1000;
    background: rgba(255, 255, 255 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: auto;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
    .navbar  .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

.dropdown_menu {
    display: block;
}
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}
